<section class="relative mx-auto">
    <nav class="flex justify-between bg-gray-900 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
            <a class="text-3xl font-bold font-heading flex items-center space-x-3 rtl:space-x-reverse" routerLink="/">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Logo" />
                SellCourse
            </a>
            <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
                <li><a class="hover:text-gray-200" routerLink="dashboard">Dashboard </a></li>
                <li><a class="hover:text-gray-200" routerLink="/">Courses</a></li>
                <li><a class="hover:text-gray-200" routerLink="wishlist">My WishList</a></li>
                <li><a class="hover:text-gray-200" routerLink="cart">Cart Details</a></li>
                <li><a class="hover:text-gray-200" routerLink="profile">Profile </a></li>
            </ul>
        </div>
    </nav>
</section>