<section class="position-relative pt-5 pb-5 overflow-hidden">
    <span class="mask bg-gradient-info opacity-1"></span>
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-5 d-flex flex-column pt-lg-4 pt-xl-5">
                <h5 class="mb-2 font-weight-bolder">Courses</h5>
                <h1 class="display-3 font-weight-bolder mb-4"><span class="text-primary text-gradient">Angular Courses</span> <br> for Every Student</h1>
                <p class="fs-lg mb-5">Over 100 Angular courses to make you an expert in technology. Start now learning using our courses!</p>

                <!-- Desktop form -->
                <form class="d-none d-sm-flex mb-5">
                    <div class="input-group d-block d-sm-flex input-group-lg me-3">
                        <input type="text" class="form-control w-50" placeholder="Search...">
                        <select class="form-select w-50">
                            <option value="" selected="" disabled="">Category</option>
                            <option value="CSS/Design">CSS/Design</option>
                            <option value="HTML">HTML</option>
                            <option value="Android/iOS">Android/iOS</option>
                            <option value="Full Stack Development">Full Stack Development</option>
                            <option value="SEO">SEO</option>
                        </select>
                    </div>
                    <button class="btn btn-lg btn-primary bg-pink-500 mb-0" type="button">
                        Search
                    </button>
                </form>

                <form class="d-sm-none mb-5">
                    <input type="text" class="form-control form-control-lg mb-2" placeholder="Search...">
                    <select class="form-select w-100 mb-2">
                        <option value="" selected="" disabled="">Category</option>
                        <option value="CSS/Design">CSS/Design</option>
                        <option value="HTML">HTML</option>
                        <option value="Android/iOS">Android/iOS</option>
                        <option value="Full Stack Development">Full Stack Development</option>
                        <option value="SEO">SEO</option>
                    </select>
                    <button class="btn btn-primary w-100 mb-0" type="button">
                        Search
                    </button>
                </form>
                <div class="d-flex align-items-center mt-auto mb-3 mb-lg-0 pb-4 pb-lg-0 pb-xl-5">
                    <div class="d-flex me-3">
                        <div class="rounded-circle">
                            <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/team-1.jpg" class="rounded-circle avatar-sm border border-white" alt="Avatar">
                        </div>
                        <div class="ms-n3">
                            <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/team-3.jpg" class="rounded-circle avatar-sm border border-white" alt="Avatar">
                        </div>
                        <div class="ms-n3">
                            <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/team-4.jpg" class="rounded-circle avatar-sm border border-white" alt="Avatar">
                        </div>
                    </div>
                    <span>Join over <span class="text-primary font-weight-bold">100k</span> students</span>
                </div>
            </div>
            <div class="col-lg-7 text-center ">
                <div class="d-flex h-100 align-items-center justify-content-center">
                    <img src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1481&amp;q=80" class="rounded-circle border border-3 border-white shadow-lg z-index-2" width="300px" alt="Avatar">
                    <img src="https://images.unsplash.com/photo-1534644586429-7681a71bc591?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80" class="rounded-circle border border-3 border-white position-absolute ms-7 me-n12 mb-7 mt-lg-n12 shadow-lg" width="250px" alt="Avatar">
                    <img src="https://images.unsplash.com/photo-1574852859542-1b41217a7815?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5pdmVyc2l0eXxlbnwwfDJ8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="rounded-circle border border-3 border-white position-absolute ms-7 me-n11 mb-n6 mt-lg-12 mt-8 shadow-lg" width="200px" alt="Avatar">
                    <img src="https://images.unsplash.com/photo-1499887142886-791eca5918cd?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZGVudCUyMHBvcnRyYWl0fGVufDB8MnwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="rounded-circle border border-3 border-white position-absolute me-10 ms-lg-n11 ms-n10 mb-7 mt-lg-n5 mt-9 shadow-lg" width="220px" alt="Avatar">

                </div>
            </div>
        </div>
    </div>
</section>